[build]
  base = "."
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/vite-plugin"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
